@use 'variable' as *;

.card-course-item{
    margin-top: 20px;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.checkbox-select-all-options {
    width: 200px;
    margin: 0 16px;
}